@use "sass:math";
@use "sass:color";

// Variants colors
@mixin button-variant-color {
    @each $color, $value in $colors {
        &.button-#{$color} {
            @if $color == 'lila' or $color == 'yellow' {
                color: $primary;
            } @else {
                color: $lila;
            }
            background-color: $value;
            &:after{
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: -100%;
                background-color: color.scale($value, $lightness: -20%);
                transition: .3s;
                z-index: -1;
                
            }
            &:hover{
                cursor: pointer;
                &:after{
                    left: 0;
                }
            }
        }
    }
}

@mixin button-variant-shape{
    
}

@mixin button($color: transparent){
    position: relative;
    overflow: hidden;
    font-size: math.div($base-font-size, $base-font-size) * 1rem;
    font-weight: 500;
    padding: $base-padding $base-padding * 1.33;
    background-color: $color;
    box-shadow: 0 4px 4px 0 color.scale($black, $alpha: 25%);
    z-index: 1;
    &:hover{
        cursor: pointer; 
    }
    @include button-variant-color;
}

.button{
    @include button
}
