//Active important intance
$activeImp: true;

//main colors
$black: #000000;
$white: #ffffff;
$primary:#100E1D;
$secundary: #1E213A;
$purple: #3C47E9;
$yellow: #FFEC65;
$gray: #6E707A;
$gray-light: #A09FB1;
$lila: #E7E7EB;

$colors: (
    'white': $white,
    'primary': $primary,
    'secundary': $secundary,
    'purple': $purple,
    'yellow': $yellow,
    'gray': $gray,
    'gray-light': $gray-light,
    'lila': $lila
);
// Icons
$iconSize : (
    "1": 18px,
    "2": 24px,
    "3": 36px,
    "4": 48px
);

//rounded
$rounded : (
    "round": .25rem,
    "round-md": .375rem,
    "round-lg": .5rem,
    "round-full": 9999px
);

//spacing

$base-padding: .75rem;
$base-margin: .75rem;

//rounded

$base-rounded: .25rem;

// font sizes

$base-font-size: 16;

// Container size

$container-width: 704px;

//Functions

@function extract-number($value) {
    @return $value / ($value * 0 + 1)
}



