//main colors
$primary:#100E1D;
$secundary: #1E213A;
$purple: #3C47E9;
$yellow: #FFEC65;
$lila: #E7E7EB;

$colors: (
    'primary': $primary,
    'secundary': $secundary,
    'purple': $purple,
    'yellow': $yellow,
    'lila': $lila
);

// font sizes

$base-font-size: 16;



