//Normalize rules
@import '~normalize.css/normalize';
//variables
@import './variables';
@import './font-size';
@import './colors';
@import './breakpoints';
@import './grid';
@import './utilities.scss';
@import './display';
// Components
@import './components/buttons';
@import './components/icons';

//Custom rule normalize
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: $primary;
    font-weight: 500;
}

.center{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.text-center{
    text-align: center;
}