//Normalize rules
@import '~normalize.css/normalize';
//Using framework easyCss create it using SASS
@import './easyCSS/variables';
@import './easyCSS/font-size';
@import './easyCSS/colors';
@import './easyCSS/breakpoints';
@import './easyCSS/grid';
@import './easyCSS/utilities.scss';
@import './easyCSS/display';
// Components
@import './easyCSS/components/buttons';
@import './easyCSS/components/icons';

//Custom rule normalize
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

body{
    background-color: $primary;
    font-weight: 500;
}

.center{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.text-center{
    text-align: center;
}